<ion-card *ngFor="let observation of observations">
  <ion-card-header>
    <ion-label>
      <ion-icon name="time-outline"></ion-icon>
      <h2 style="display: inline-block; color: black;">
        &nbsp;{{ observation.date }}
      </h2>
      <h3 style="display: inline-block; color: black;">
        &nbsp;{{ observation.time }}
      </h3>
    </ion-label>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ng-container *ngFor="let observedItem of observedItems">
        <ion-row
          *ngIf="observedItem.observedItemId === observation.observedItemId"
        >
          <ion-col size="6">
            <h5 class="ion-text-left">{{ observedItem.itemName }}</h5>
          </ion-col>
          <ion-col size="6">
            <h5 class="ion-text-left">{{ observedItem.value }}&nbsp;{{ observedItem.unit }}</h5>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>
  </ion-card-content>
</ion-card>
