<ion-card *ngFor="let observation of observations" color="cardcolor">
  <ion-card-header>
    <ion-label color="dark">
      <ion-icon name="book" color="secondary"></ion-icon>
      <h2 style="display: inline-block;">
        &nbsp;{{ observation.date }}
      </h2>
      <h2 style="display: inline-block;">
        &nbsp;{{ observation.time.slice(0, 5) }}
      </h2>
    </ion-label>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <p [ngStyle]="{'font-size': myFont()}" class="ion-text-left">
            {{ observation.observedItems[0].bloodPressures[0].item }}
          </p>
        </ion-col>
        <ion-col size="6">
          <p [ngStyle]="{'font-size': myFont()}" class="ion-text-left">
            {{ observation.observedItems[0].bloodPressures[0].value }}&nbsp;{{
              observation.observedItems[0].bloodPressures[0].unit
            }}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <p [ngStyle]="{'font-size': myFont()}" class="ion-text-left">
            {{ observation.observedItems[0].bodyHeats[0].item }}
          </p>
        </ion-col>
        <ion-col size="6">
          <p [ngStyle]="{'font-size': myFont()}" class="ion-text-left">
            {{ observation.observedItems[0].bodyHeats[0].value }}&nbsp;{{
              observation.observedItems[0].bodyHeats[0].unit
            }}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <p [ngStyle]="{'font-size': myFont()}" class="ion-text-left">
            {{ observation.observedItems[0].respiratoryRates[0].item }}
          </p>
        </ion-col>
        <ion-col size="6">
          <p [ngStyle]="{'font-size': myFont()}" class="ion-text-left">
            {{ observation.observedItems[0].respiratoryRates[0].value }}&nbsp;{{
              observation.observedItems[0].respiratoryRates[0].unit
            }}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <p [ngStyle]="{'font-size': myFont()}" class="ion-text-left">
            {{ observation.observedItems[0].sinusRhythms[0].item }}
          </p>
        </ion-col>
        <ion-col size="6">
          <p [ngStyle]="{'font-size': myFont()}" class="ion-text-left">
            {{ observation.observedItems[0].sinusRhythms[0].value }}&nbsp;{{
              observation.observedItems[0].sinusRhythms[0].unit
            }}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<ion-item *ngIf="observations == []">
  <ion-label>No Observation Record</ion-label>
</ion-item>
