<ion-card>
  <ion-card-content >
    <canvas #barChart_week [hidden]="segment_chart != 'chart_week'"></canvas>
    <canvas #barChart_month [hidden]="segment_chart != 'chart_month'"></canvas>
    <canvas #barChart_year [hidden]="segment_chart != 'chart_year'"></canvas>
    <canvas #barChart_all [hidden]="segment_chart != 'chart_all'"></canvas>
  </ion-card-content>
</ion-card>

  <ion-segment
    [(ngModel)]="segment_chart"
    (ionChange)="segmentChanged_chart($event)"
  >
    <ion-segment-button value="chart_week">
      <ion-label>Week</ion-label>
    </ion-segment-button>
    <ion-segment-button value="chart_month">
      <ion-label>Month</ion-label>
    </ion-segment-button>
    <ion-segment-button value="chart_year">
      <ion-label>Year</ion-label>
    </ion-segment-button>
    <ion-segment-button value="chart_all">
      <ion-label>All</ion-label>
    </ion-segment-button>
  </ion-segment>


