<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Observations</ion-title>
    <ion-segment
      slot="end"
      (ionChange)="segmentChanged()"
      [(ngModel)]="segment"
    >
      <ion-segment-button value="0" style="width: 50px; min-width: 50px;">
        <ion-icon name="calendar"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="1" style="width: 50px; min-width: 50px;">
        <ion-icon name="bar-chart"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding" class="ion-no-margin">
  <ion-slides
    #slides
    (ionSlideDidChange)="slideChanged()"
    class="ion-no-padding"
    class="ion-no-margin"
  >
    <ion-slide>
      <app-observation-list
        [observations]="observations"
        style="width: 100%;"
      ></app-observation-list>
    </ion-slide>

    <ion-slide>
      <ion-list style="width: 100%;">
        <ion-item *ngFor="let data of chartData" lines="none">
          <app-charts
          [labels]="label"
          [labelData]="data"
          style="width: 100%;"
        ></app-charts>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
