<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Observations</ion-title>
    <ion-segment slot="end" (ionChange)="segmentChanged()" [(ngModel)] = "segment">
      <ion-segment-button value="0" style="width: 50px; min-width:50px;">
        <ion-icon name="calendar"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="1" style="width: 50px; min-width:50px;">
        <ion-icon name="bar-chart"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slides (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <app-observation-list
      [observations]="observations"
      [observedItems]="observedItems"
    ></app-observation-list>
    </ion-slide>

    <ion-slide>
      <app-charts></app-charts>
    </ion-slide>
  </ion-slides>
</ion-content>
