<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Watch List
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      animated
      showCancelButton="focus"
      
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- pull to refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list
    *ngFor="let patient of watchPatients"
    [routerLink]="['/tabs/home/Patient', patient.id]"
  >
    <ion-item>
      <ion-avatar slot="start">
        <ion-img [src]="imgUrl"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>
          {{ patient.name }}&nbsp;<ion-icon
            [name]="patient.gender+'-outline'"
            [class]="patient.gender + 'Color'"
          ></ion-icon>
          <ion-icon name="bookmark" color="warning" style="float: right;"></ion-icon>
        </h2>
        <p>Date of Birth: {{ patient.birthDate }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
