<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
      <ion-title>Appointments</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card *ngFor="let appointment of appointments" color="cardcolor">
    <ion-card-header>
      <ion-label color="dark">
        <ion-icon name="today-outline" color="success" slot="start"></ion-icon>
        <h2 style="display: inline-block;">&nbsp;{{ appointment.date }}</h2>
        <h2 style="display: inline-block;">&nbsp;{{ appointment.time.slice(0, 5) }}</h2>
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <p [ngStyle]="{'font-size': myFont()}">Clinician: {{ appointment.clinicianName }}</p>
      <p [ngStyle]="{'font-size': myFont()}">Event:  {{ appointment.event }}</p>
      <p [ngStyle]="{'font-size': myFont()}">Department: {{ appointment.department }}</p>
      <p [ngStyle]="{'font-size': myFont()}">Location: {{ appointment.room }}, {{ appointment.floor }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
