<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Appointments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let appointment of appointments">
    <ion-card-header>
      <ion-label>
        <ion-icon name="today-outline"></ion-icon>
        <h2 style="display: inline-block; color: black;">&nbsp;{{ appointment.date }}</h2>
        <h2 style="display: inline-block; color: black;">&nbsp;{{ appointment.time }}</h2>
        <h3>Event:  {{ appointment.event }}</h3>
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <h5>Department: {{ appointment.department }}</h5>
      <h5>Clinician:  {{ appointment.clinicianId }}</h5>
      <h5>Location: {{ appointment.floor }}, {{ appointment.room }}</h5>
    </ion-card-content>
  </ion-card>

</ion-content>
