<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="ion-margin-bottom">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      animated
      showCancelButton="focus"
      (ionInput)="searchPatient($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list
    *ngFor="let patient of patients; let i = index">
    <ion-item-sliding>
    <ion-item detail="false" [routerLink]="['/tabs/home/Patient', patient.id]">
      <ion-avatar slot="start">
        <ion-img [src]="obtainAvatar(patient.id)"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>
          {{ patient.name }}&nbsp;<ion-icon
            [name]="patient.gender+'-outline'"
            [class]="patient.gender + 'Color'"
          ></ion-icon>
          <ion-icon name="bookmark" class="markbook" [color]="checkIfFollowed(patient)"></ion-icon>
        </h2>
        <p>Date of Birth: {{ patient.birthDate }}</p>
      </ion-label>
    </ion-item>

    <ion-item-options side="end">
      <button ion-button class="slideBtn_follow" (click)="follow(patient.id)">
        Follow
      </button>
      <button ion-button class="slideBtn_cancel" (click)="unfollow(patient.id)">
        Unfollow
      </button>
    </ion-item-options>

  </ion-item-sliding>
  </ion-list>
</ion-content>
