/** mycolor **/
.maleColor {
    color: #3dc2ff;
} 

.femaleColor {
    color: #f0a8e0;
}

.slideBtn_follow {
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(84, 146, 93);
    color: white;
}

.slideBtn_cancel {
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(163, 68, 68);
    color: white;
}